@import "../styles/config"

.editor
  background-color: $color-back-l
  display: flex
  flex-flow: row
  font-family: $font-family
  font-size: $font-size
  line-height: $line-height
  min-height: 100vh

  *
    box-sizing: border-box

  input,
  textarea
    background: rgba($color-back-l, .5)
    border: none
    border-radius: $radius-2
    font-family: $font-family
    font-size: $font-size
    padding: $pad/2

  button
    background: $color-back
    border-radius: $radius-5
    color: $color-on-back
    border: 1px solid $color-back-l
    font-family: $font-family
    font-size: $font-size
    padding: $pad/2 $pad

    &.editor--primary
      background: $color-p
      border-color: $color-p
      color: $color-on-p
      font-weight: bold

    &.editor--secondary
      background: none
      border: none
      color: lighten($color-on-back, 50%)
      font-weight: bold

      &.editor--selected
        color: $color-on-back

  select
    appearance: none
    background: $color-back
    border: 1px solid $color-back-l
    border-radius: $radius-5
    font-family: $font-family
    font-size: $font-size
    padding: $pad/2 $pad

.editor__edit
  flex-basis: 40%
  max-width: $edit-column-max-width
  min-width: $edit-column-min-width

.editor--raw
  .editor__edit
    display: flex
    flex-flow: column

.editor__pod_path
  background: $color-s
  box-shadow: $shadow-1
  color: $color-on-s
  display: flex
  flex-flow: row
  align-items: center
  padding: $pad / 2

  i
    cursor: pointer
    font-size: 18px
    margin: 0 $pad / 4
    opacity: 0.25
    transition: opacity $speed-fast

  input
    background: transparent
    border: none
    color: $color-on-s
    flex-grow: 1
    font-weight: bold
    padding: $pad/2
    width: 100%

  &:hover
    i
      opacity: 1

      &.editor--mobile-only
        cursor: default
        opacity: 0.25

.editor--mobile
  .editor__pod_path:hover
    i.editor--mobile-only
      cursor: pointer
      opacity: 1

.editor__card
  background-color: $color-back
  border-radius: $radius-2
  box-shadow: $shadow-2
  display: flex
  flex-flow: column
  margin: $pad

.editor--raw
  .editor__card
    flex-grow: 1

.editor__menu
  align-items: center
  background-color: $color-back
  border-bottom: 1px solid $color-back-l
  display: flex
  flex-flow: row
  justify-content: space-between
  position: sticky
  padding: $pad*1.5 $pad*2
  top: 0

.editor__actions
  display: flex
  flex-flow: row

  button
    margin-left: $pad/2

.editor__source,
.editor__selective
  padding: $pad*2

.editor__source
  display: flex
  flex-flow: column
  flex-grow: 1

  textarea
    height: 100%
    width: 100%

.editor__preview
  align-items: stretch
  display: flex
  flex-grow: 1
  flex-shrink: 1
  justify-content: center
  max-height: 100vh
  position: sticky
  top: 0

  iframe
    background-color: $color-back-l
    border: none
    color: $color-on-back-l
    flex-grow: 1

.editor--mobile
  .editor__preview
    align-items: center

    iframe
      box-shadow: $shadow-3
      height: $mobile-height
      max-height: $mobile-height
      max-width: $mobile-width

.editor--rotated
  .editor__preview
    iframe
      // Reverse the width/height for mobile view.
      height: $mobile-width
      max-height: $mobile-width
      max-width: $mobile-height

.selective__fields__partials
  background: rgba($color-back-l, .5)
  border: none
  border-radius: $radius-2
  padding: $pad
  margin: $pad 0

  // Invert the field styling.
  input,
  textarea
    background: $color-back

  button
    background: $color-back-l

  &.draggable--above
    border-top: 3px solid $color-p

  &.draggable--below
    border-bottom: 3px solid $color-p

.partial__fields__label
  cursor: pointer
  font-weight: bold
  padding: $pad/2 0

.selective__field
  label
    display: block
    margin: $pad/2 0

.selective__field__partials
  margin-top: $pad
  margin-bottom: $pad/2

  .partials__menu
    align-items: center
    display: flex
    flex-flow: row
    justify-content: space-between

  .partials__label
    font-weight: bold

.selective__field__text
  input
    margin: $pad/2 0
    width: 100%

.selective__field__textarea
  textarea
    margin: $pad/2 0
    width: 100%

.partials__list__item
  align-items: center
  background: rgba($color-back-l, .5)
  border-radius: $radius-2
  display: flex
  flex-flow: row
  font-family: $font-family
  font-size: $font-size
  justify-content: space-between
  margin: $pad 0
  padding: $pad / 2

  &--hidden
    background: rgba($color-back-l, .25)

    .partials__list__item__label
      flex-grow: 1
      flex-basis: 100%
      cursor: default

  &.draggable--above
    border-top: 3px solid $color-p

  &.draggable--below
    border-bottom: 3px solid $color-p

.partials__list__item__drag
  cursor: grab
  flex-shrink: 1

  i
    font-size: $font-size
    margin-right: $pad / 2

.partials__list__item__label
  cursor: pointer
  flex-basis: 25%
  font-weight: bold
  padding-right: $pad

.partials__list__item__preview
  cursor: pointer
  flex-grow: 1
  overflow: hidden
  text-overflow: ellipsis

.draggable--hover
  *
    pointer-events: none
