.menu__repo__info
  align-items: center
  display: flex
  flex-flow: row

.menu__repo__label
  font-weight: 700

.menu__repo__name
  margin-left: $ge-pad
  overflow: hidden
  text-overflow: ellipsis
  white-space: nowrap
