.menu__repo__workspace
  overflow: hidden
  margin: 0 $ge-space-small
  text-overflow: ellipsis
  white-space: nowrap

.menu__repo
  align-items: center
  display: flex
  font-size: $ge-font-size-small
  flex-flow: row
  line-height: $ge-line-height-paragraph
  margin: 0 $ge-space-medium

.menu__repo__label
  font-weight: 700
  text-transform: uppercase

.menu__repo__info
  display: flex
  flex-flow: row

.menu__repo__workspace__branch
  font-weight: 700
