.menu__trees
  overflow-x: auto

.menu__tree__filetree,
.menu__tree__sitetree
  .material-icons
    font-size: $ge-font-size
    margin-right: $ge-pad / 2

.menu__tree__folder
  margin: $ge-pad 0

.menu__tree__label
  padding: $ge-pad/2 $ge-pad

.menu__tree__folder__level
  margin-bottom: $ge-pad
  margin-left: $ge-pad

  .menu__tree__folder--collapsed &
    display: none

.menu__tree__folder__directory
  align-items: center
  cursor: pointer
  display: flex
  flex-flow: row
  font-weight: 700
  margin: $ge-pad/2 0

.menu__tree__folder__file
  align-items: center
  border-radius: $ge-radius-2
  display: flex
  flex-flow: row

.menu__tree__folder__file
  padding: $ge-pad/2
  border: $ge-border-size solid transparent
  transition: all $ge-speed-faster ease-in-out

  &:hover
    border-color: $ge-color-back-light
    cursor: pointer

  &--selected
    background-color: $ge-color-back-light
    color: $ge-color-on-back

  .material-icons
    .menu__trees &
      font-size: $ge-font-size

.menu__tree__folder__directory__label,
.menu__tree__folder__file__label
  flex-grow: 1

.menu__tree__new__template
  padding: $ge-pad

  .editor__button

.menu__tree__new__template__option__screenshots
  margin: $ge-pad/2 0

  img
    margin-right: $ge-pad/2

.menu__tree__folder__actions
  margin: $ge-pad 0
