.menu__workspace__branches
  overflow-x: auto
  max-height: 19vh

.menu__workspace__branch
  align-items: center
  display: flex
  flex-flow: row
  margin: $ge-pad/2 0
  padding: $ge-pad/2

.menu__workspace__branch__label
  margin-left: $ge-pad
