.menu__workspace
  margin: $ge-space-medium $ge-space-large

.menu__workspace__branches
  overflow-x: auto
  max-height: 20vh

.menu__workspace__branch
  align-items: center
  display: flex
  flex-flow: row
  margin: $ge-space-small 0
  padding: $ge-space-small

  .material-icons
    opacity: $ge-color-opacity-subtle

.menu__workspace__branch__label
  margin-left: $ge-space-medium
