.selective__field__type__partials
  > .selective__field__actions__wrapper
    > .selective__field__label
      font-size: $ge-font-size-small
      opacity: $ge-color-opacity-subtle
      text-transform: uppercase

      > .selective__field__actions
        +field-clickable
