// Primary Colors
$ge-color-primary: #48a0f4 !default
$ge-color-primary-light: #84d1ff !default
$ge-color-primary-dark: #0072c1 !default
$ge-color-on-primary: #ffffff !default
$ge-color-on-primary-light: #000000 !default
$ge-color-on-primary-dark: #ffffff !default

// Secondary Colors
$ge-color-secondary: #2c2c2c !default
$ge-color-secondary-light: #555555 !default
$ge-color-secondary-dark: #000000 !default
$ge-color-on-secondary: #ffffff !default
$ge-color-on-secondary-light: #ffffff !default
$ge-color-on-secondary-dark: #ffffff !default

// Utility Colors
$ge-color-back: #ffffff !default
$ge-color-back-light: #e5e5e5 !default
$ge-color-back-dark: darken($ge-color-back, 15%) !default
$ge-color-back-highlight: #e1fc8d !default
$ge-color-back-oclude: rgba(0, 0, 0, .45) !default
$ge-color-on-back: #000000 !default
$ge-color-on-back-subtle: darken($ge-color-back, 25%) !default
$ge-color-on-back-light: #000000 !default
$ge-color-on-back-dark: lighten($ge-color-on-back-light, 15%) !default
$ge-color-on-back-highlight: #000000 !default
$ge-color-on-back-oclude: #ffffff !default

$ge-color-border: #e5e5e5 !default
$ge-color-border-light: rgba(0, 0, 0, 0.1) !default
$ge-color-bar: rgba(0, 0, 0, 0.1) !default

// Input colors
$ge-color-field-back: rgba($ge-color-back-light, .5) !default
$ge-color-field-back-alt: $ge-color-back !default
$ge-color-on-field-back: $ge-color-on-back-light !default
$ge-color-on-field-back-light: lighten($ge-color-on-field-back, 15%) !default
$ge-color-on-field-back-alt: $ge-color-on-back !default
$ge-color-on-field-back-alt-light: lighten($ge-color-on-field-back, 15%) !default

// Icon Colors
$ge-color-icon-on-back: darken($ge-color-back, 25%) !default
$ge-color-icon-on-back-selected: darken($ge-color-icon-on-back, 25%) !default
$ge-color-icon-on-back-light: darken($ge-color-back-light, 25%) !default
$ge-color-icon-on-back-light-selected: darken($ge-color-icon-on-back-light, 25%) !default

// Speeds
$ge-speed-faster: 75ms !default
$ge-speed-fast: 150ms !default
$ge-speed-slow: 300ms !default
$ge-speed-slower: 1500ms !default

// Transistions
$ge-timing-cubic-bezier: cubic-bezier(0, 1, 0.5, 1) !default

// Padding unit
$ge-pad: 10px !default

// Typography
$ge-font-family: Roboto !default
$ge-font-family-mono: "Roboto Mono", monospace !default
$ge-font-size: 14px !default
$ge-font-size-small: $ge-font-size * .8 !default
$ge-font-size-icon: 18px !default
$ge-font-size-icon-small: 14px !default
$ge-font-size-icon-large: 22px !default
$ge-line-height: 1.1 !default
$ge-line-height-paragraph: 1.3 !default

// Shadows
$ge-shadow-1: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24) !default
$ge-shadow-2: 0 3px 6px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24) !default
$ge-shadow-3: 0 10px 20px rgba(0,0,0,0.19), 0 6px 6px rgba(0,0,0,0.23) !default
$ge-shadow-4: 0 14px 28px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22) !default
$ge-shadow-5: 0 19px 38px rgba(0,0,0,0.30), 0 15px 12px rgba(0,0,0,0.22) !default

// Borders
$ge-border-size: 1px !default
$ge-border-size-thick: 2px !default

// Focus rings
$ge-focus-shadow-primary: 0px 0px 0px 2px rgba(66,133,244,0.15) !default
$ge-focus-shadow-secondary: 0px 0px 0px 2px rgba(126,126,126,0.15) !default

// Radius
$ge-radius-1: 2px !default
$ge-radius-2: 3px !default
$ge-radius-3: 4px !default
$ge-radius-4: 5px !default
$ge-radius-5: 6px !default

// Device; keep consistent with `previewSize` in editor.js.
$ge-device-width: 411px !default
$ge-device-height: 731px !default

// Edit Column
$ge-edit-column-max-width: 750px !default
$ge-edit-column-min-width: 250px !default

$ge-header-height: 38px !default

// Empty bar height
$ge-bar-height: 10px !default

// Loading
$ge-loading-size: 50px !default
$ge-loading-border-size: 4px !default

// Menu
$ge-menu-column-width: 20vw !default
$ge-menu-column-min-width: 20em !default

=field-border
  border: $ge-border-size solid transparent
  border-radius: $ge-radius-2

  &:focus
    border: $ge-border-size solid $ge-color-primary
    outline: none

  &:hover
    border: $ge-border-size solid $ge-color-border

    &:focus
      border: $ge-border-size solid $ge-color-primary

=field-clickable
  cursor: pointer

=field-control
  background: $ge-color-field-back
  color: $ge-color-on-field-back
  padding: $ge-pad/2
  width: 100%

=field-color
  &:focus
    color: $ge-color-primary

  &:hover
    color: $ge-color-border

    &:focus
      color: $ge-color-primary

  &--checked,
  &--selected
    color: $ge-color-primary

    &:hover
      color: $ge-color-primary

=list-nesting
  .selective__list__item &,
  .selective__list__item .selective__list__item .selective__list__item &,
  .selective__list__item .selective__list__item .selective__list__item .selective__list__item .selective__list__item &,
  .selective__list__item .selective__list__item .selective__list__item .selective__list__item .selective__list__item .selective__list__item .selective__list__item &
    @content

=list-nesting-alt
  .selective__list__item .selective__list__item &,
  .selective__list__item .selective__list__item .selective__list__item .selective__list__item &,
  .selective__list__item .selective__list__item .selective__list__item .selective__list__item .selective__list__item .selective__list__item &,
  .selective__list__item .selective__list__item .selective__list__item .selective__list__item .selective__list__item .selective__list__item .selective__list__item .selective__list__item &
    @content
