// Primary Colors
$se-color-p: #48a0f4 !default
$se-color-p-l: #84d1ff !default
$se-color-p-d: #0072c1 !default
$se-color-on-p: #ffffff !default
$se-color-on-p-l: #000000 !default
$se-color-on-p-d: #ffffff !default

// Secondary Colors
$se-color-s: #2c2c2c !default
$se-color-s-l: #555555 !default
$se-color-s-d: #000000 !default
$se-color-on-s: #ffffff !default
$se-color-on-s-l: #ffffff !default
$se-color-on-s-d: #ffffff !default

// Utility Colors
$se-color-text: #455a64 !default
$se-color-back: #ffffff !default
$se-color-back-l: #e5e5e5 !default
$se-color-back-d: darken($se-color-back, 10%) !default
$se-color-on-back: #000000 !default
$se-color-on-back-l: #455a64 !default
$se-color-on-back-d: #455a64 !default

// Speeds
$se-speed-slow: 400ms !default
$se-speed-fast: 250ms !default

// Padding unit
$se-pad: 1em !default

// Typography
$se-font-family: Roboto !default
$se-font-size: 12px !default
$se-line-height: 14px !default

// Shadows
$se-shadow-1: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24) !default
$se-shadow-2: 0 3px 6px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24) !default
$se-shadow-3: 0 10px 20px rgba(0,0,0,0.19), 0 6px 6px rgba(0,0,0,0.23) !default
$se-shadow-4: 0 14px 28px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22) !default
$se-shadow-5: 0 19px 38px rgba(0,0,0,0.30), 0 15px 12px rgba(0,0,0,0.22) !default

// Radius
$se-radius-1: 2px !default
$se-radius-2: 3px !default
$se-radius-3: 4px !default
$se-radius-4: 5px !default
$se-radius-5: 6px !default

// Mobile
$se-mobile-width: 411px !default
$se-mobile-height: 731px !default

// Edit Column
$se-edit-column-max-width: 500px !default
$se-edit-column-min-width: 250px !default
