.editor
  align-items: stretch
  background-color: $ge-color-back
  color: $ge-color-on-back
  display: flex
  flex-flow: column
  font-family: $ge-font-family
  font-size: $ge-font-size
  line-height: $ge-line-height
  height: 100vh
  -webkit-font-smoothing: antialiased

  *
    box-sizing: border-box

  svg
    fill: currentColor

  .material-icons
    display: inline-flex
    font-size: $ge-font-size-icon
    vertical-align: middle

.editor__frame
  align-items: stretch
  display: flex
  flex-flow: row
  flex-grow: 1
  // Need to make the frame max height adjust for the app menu.
  max-height: calc(100vh - #{$ge-menu-height})

.editor__edit
  border-right: $ge-border-size-thick solid $ge-color-border
  display: flex
  flex-flow: column
  justify-content: space-between
  flex-basis: 40%
  max-height: 100vh
  max-width: $ge-edit-column-max-width
  min-width: $ge-edit-column-min-width

  .editor--markdown &,
  .editor--source &
    display: flex
    flex-flow: column

  .editor--fullscreen-editor &
    flex-grow: 1
    max-width: 100%

.editor__edit__header
  align-items: center
  background: $ge-color-secondary
  color: $ge-color-on-secondary
  display: flex
  flex-flow: row
  font-size: $ge-font-size-small
  justify-content: space-between
  padding: $ge-space-m

  i
    cursor: pointer
    margin: 0 $ge-space-xxs
    opacity: 0.25
    transition: opacity $ge-speed-fast ease-in-out

  input
    background: transparent
    border: none
    color: $ge-color-on-secondary
    flex-grow: 1
    font-weight: bold
    padding: $ge-space-xs
    width: 100%

  &:hover
    i
      opacity: 1

      &.editor--device-only
        cursor: default
        opacity: 0.25

        .editor--device &
          cursor: pointer
          opacity: 1

.editor__edit__header__label
  font-weight: 700
  text-transform: uppercase

.editor__edit__header__title
  margin-left: $ge-space-s

.editor__edit__header__links
  margin-right: $ge-space-s

.editor__edit__header__section
  align-items: center
  display: flex
  flex-flow: row
  flex-shrink: 0
  text-overflow: ellipsis

.editor__edit__header__pod_path
  font-size: $ge-font-size-small
  margin-right: $ge-space-s

.editor__cards
  align-items: center
  display: flex
  flex-flow: column
  flex-grow: 1
  overflow-y: auto
  padding: $ge-space-m 0

.editor__card
  padding: 0 $ge-space-l
  margin: $ge-space-m 0
  max-width: $ge-edit-column-max-width
  width: 100%

  &--flush
    padding: 0
    margin: 0

  &--flush-top
    margin-top: 0
    border-top-left-radius: 0
    border-top-right-radius: 0

  .editor--fullscreen &
    margin: $ge-space-s auto
    max-width: $ge-edit-column-max-width
    width: calc(100% - #{$ge-space-m})

.editor__card__title
  font-size: $ge-font-size-small
  font-weight: 700
  margin: 0 0 $ge-space-m 0
  opacity: $ge-color-opacity-subtle
  text-transform: uppercase

.editor__dev_tools
  align-items: center
  background-color: $ge-color-back-light
  color: $ge-color-on-back-subtle
  display: flex
  flex-flow: row
  font-size: $ge-font-size-small
  justify-content: space-between
  padding: $ge-space-m

  .material-icons
    font-size: $ge-font-size-icon-small

.editor__dev_tools__section
  align-items: center
  display: flex
  flex-flow: row

.editor__dev_tools__logo
  max-height: 20px
  max-width: 20px

.editor__dev_tools__icon
  color: $ge-color-icon-on-back
  cursor: pointer
  margin: 0 $ge-space-xxs

  &--selected
    color: $ge-color-icon-on-back-selected

  &:first-child
    margin-left: $ge-space-s

  &:last-child
    margin-right: $ge-space-xs

.editor__invalid
  color: $ge-color-error

.editor__menu
  align-items: center
  background-color: $ge-color-back-dark
  border-bottom: $ge-border-size solid $ge-color-back-light
  color: $ge-color-on-back-dark
  display: flex
  flex-flow: row
  justify-content: space-between
  padding: 0 $ge-space-m
  position: sticky
  top: 0
  z-index: 1

.editor__button
  +field-border
  background: $ge-color-back
  color: $ge-color-on-back
  border: $ge-border-size solid $ge-color-back-light
  font-family: $ge-font-family
  font-size: $ge-font-size
  padding: $ge-space-s $ge-space-m

  &[disabled]
    opacity: .5

  &:focus
    outline: none
    box-shadow: $ge-focus-shadow-secondary

  &.editor__button--primary
    background: $ge-color-primary
    border-color: $ge-color-primary
    color: $ge-color-on-primary
    font-weight: bold

    &:focus
      outline: none
      box-shadow: $ge-focus-shadow-primary

  &.editor__button--secondary
    background: none
    border: none
    color: lighten($ge-color-on-back, 50%)
    cursor: pointer
    font-weight: bold

    &.editor__button--selected
      color: $ge-color-on-back

    &:hover
      color: $ge-color-on-back

    &:focus
      box-shadow: none

  &.editor__button--invalid
    color: $ge-color-on-back-error
    background-color: $ge-color-back-error
    border-color: $ge-color-back-error

  &.editor__button--item
    padding: $ge-space-m
    margin: 0

    &:hover
      box-shadow: 0 $ge-border-size-thick 0 0 $ge-color-on-back

    &.editor__button--selected
      box-shadow: 0 $ge-border-size-thick 0 0 $ge-color-on-back

.editor__actions
  align-items: center
  display: flex
  flex-flow: row

  button
    margin: 0 $ge-space-s

    &:first-child
      margin-left: 0

    &:last-child
      margin-right: 0

  &--add
    background-repeat: no-repeat
    background-position: left $ge-space-xs center
    background-image: url('data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg" width="20" height="20"><path d="M-2-2h24v24H-2V-2z" fill="none"/><path d="M10 2.5c-4.1 0-7.5 3.4-7.5 7.5s3.4 7.5 7.5 7.5 7.5-3.4 7.5-7.5-3.4-7.5-7.5-7.5zm3.8 8.3h-3v3H9.2v-3h-3V9.3h3v-3h1.5v3h3v1.5h.1z" fill="%23#{str-slice(inspect($ge-color-primary), 2)}" /></svg>')
    border: none
    color: $ge-color-primary
    cursor: pointer
    font-weight: 700
    padding-left: $ge-space-l

    &:focus,
    &:hover,
    &:hover:focus
      border: none

.editor__source
  display: flex
  flex-flow: column
  flex-grow: 1

  .CodeMirror
    +field-border
    border-radius: $ge-radius-2
    flex-grow: 1
    margin-bottom: $ge-space-s

    &:last-child
      margin-bottom: 0

  textarea
    font-family: $ge-font-family-mono
    height: 100%
    overflow-x: auto
    white-space: nowrap
    width: 100%

.editor__source__section
  display: flex
  flex-flow: column
  flex-grow: 1

  .editor__source__title
    font-weight: 700
    margin: $ge-space-s 0 $ge-space-xs 0

  &:first-child
    .editor__source__title
      margin-top: 0

.editor__preview
  align-items: stretch
  display: flex
  flex-grow: 1
  flex-shrink: 1
  justify-content: center
  flex-direction: column
  max-height: 100vh

  .editor--device &
    align-items: center

.editor__preview__header
  align-items: center
  background: $ge-color-secondary
  color: $ge-color-on-secondary
  display: flex
  flex-flow: row
  font-size: $ge-font-size-small
  justify-content: space-between
  padding: $ge-space-m

  i
    cursor: pointer
    margin: 0 $ge-space-xxs
    opacity: 0.25
    transition: opacity $ge-speed-fast ease-in-out

  select
    opacity: 0.25
    transition: opacity $ge-speed-fast ease-in-out

  input
    background: transparent
    border: none
    color: $ge-color-on-secondary
    flex-grow: 1
    font-weight: bold
    padding: $ge-space-xs
    width: 100%

  &:hover
    i
      opacity: 1

      &.editor--device-only
        cursor: default
        opacity: 0.25

        .editor--device &
          cursor: pointer
          opacity: 1

    select
      opacity: 1

.editor__preview__header__label
  font-weight: 700
  text-transform: uppercase

.editor__preview__header__icons
  align-items: center
  display: flex
  flex-flow: row

.editor__preview__frame
  align-items: stretch
  display: flex
  flex-grow: 1
  justify-content: stretch
  flex-direction: column
  position: relative
  width: 100%

  iframe
    background-color: #ffffff
    border: none
    color: $ge-color-on-back-light
    flex-grow: 1
    transform-origin: center left
    z-index: 5

  .editor--device &
    &--contained
      align-items: center
      justify-content: center

      iframe
        transform-origin: center center

    iframe
      box-shadow: $ge-shadow-3

.editor__preview__sizes
  display: flex
  flex-flow: row
  z-index: 10

.editor__preview__size
  padding: $ge-space-xs $ge-space-s
  cursor: pointer

  &:hover,
  &--selected
    color: $ge-color-primary

.editor__preview__size__dimension
  font-size: $ge-font-size * .8

.editor__locales
  background-color: transparent
  border: 0
  color: inherit
  display: block
  font-size: $ge-font-size
  padding: $ge-space-xs $ge-space-xxs

  &:focus
    outline: none

.editor__workspace__url
  margin: $ge-space-s 0

.editor__workspace__url__more
  font-size: $ge-font-size-small
  margin-left: $ge-space-s
  text-decoration: none

.editor__workspace__locale
  font-size: $ge-font-size-small
  margin-left: $ge-space-s

.icon
  &--hover-only
    visibility: hidden

    .icons:focus &,
    .icons:hover &,
    &:focus,
    &:hover
      visibility: visible

  &--delete
    color: $ge-color-error

.editor__history__workspace
  align-items: center
  display: flex
  flex-flow: row
  padding: $ge-space-s

.editor__workspace__branch__label
  margin-left: $ge-space-s

.editor__history__commits__commit
  align-items: center
  display: flex
  flex-flow: row
  padding: $ge-space-s

  &:first-child
    background-color: $ge-color-primary
    color: $ge-color-on-primary

    a
      color: $ge-color-on-primary

.editor__history__commits__commit__info
  align-items: center
  display: flex
  flex-flow: row

.editor__history__commits__commit__meta
  margin-left: $ge-space-s

.editor__history__commits__commit__hash
  font-family: $ge-font-family-mono

.editor__history__commits__commit__time
  font-size: $ge-font-size-small

.editor__history__commits__commit__message
  font-size: $ge-font-size-small
  margin-top: $ge-space-xs
  padding-left: $ge-space-s
  overflow: hidden
  text-overflow: ellipsis
  white-space: nowrap

// Import theme for codemirror.
@import 'codemirror/lib/codemirror.css'
@import 'codemirror/theme/elegant.css'
