.selective__field
  margin: $ge-pad/2 0 $ge-pad 0

  .material-icons
    font-size: $ge-font-size-icon

  &:last-child
    margin-bottom: 0

.selective__field__label
  margin: $ge-pad/2 0

  label
    display: block

.selective__field__input
  margin: $ge-pad/2 0

.selective__field__actions__wrapper
  align-items: center
  display: flex
  flex-flow: row
  justify-content: space-between

.selective__field__actions
  align-items: center
  display: flex
  flex-flow: row

.selective__field__help
  color: $ge-color-text-light
  font-size: $ge-font-size-small
  margin: $ge-pad/2

[draggable=true]
  &.selective__sortable--hover
    *
      pointer-events: none

  &.selective__sortable--above
    border-top: $ge-border-size solid $ge-color-primary

  &.selective__sortable--below
    border-bottom: $ge-border-size solid $ge-color-primary
