@import "selective-edit/sass/selective-core"

.selective
  .editor--markdown &
    display: flex
    flex-grow: 1

.selective__fields
  .editor--markdown &
    display: flex
    flex-direction: column
    flex-grow: 1

// Document-level Markdown field (content body).
.selective__fields > .selective__field__html,
.selective__fields > .selective__field__markdown
  .editor--markdown &
    display: flex
    flex-direction: column
    flex-grow: 1
    textarea
      flex-grow: 1
      min-height: 500px

.selective__field__partials
  border-bottom: 3px solid transparent
  border-radius: $ge-radius-2
  border-top: 3px solid transparent
  margin-top: $ge-pad/2

  &.sortable--above
    border-top: 3px solid $ge-color-primary

  &.sortable--below
    border-bottom: 3px solid $ge-color-primary

  .partials__menu
    align-items: center
    display: flex
    flex-flow: row
    justify-content: space-between

  .partials__label
    font-weight: bold

.selective__field
  label
    display: block
    margin: $ge-pad/2 0

  .material-icons
    font-size: $ge-font-size

.selective__field__help
  color: $ge-color-text-light
  font-size: $ge-font-size-small
  padding: $ge-pad/2

.selective__field__label
  padding: $ge-pad/2 0

  &--action
    cursor: pointer

  &--strong
    font-weight: 700

  .selective__field__partials &
    font-weight: bold

.selective__field__label__actions
  align-items: center
  display: flex
  flex-flow: row

.selective__field__date,
.selective__field__datetime,
.selective__field__document,
.selective__field__yaml,
.selective__field__image,
.selective__field__image_file,
.selective__field__google_image,
.selective__field__text
  input
    border: 1px solid transparent
    margin: 0 0 2px
    width: 100%
    &:hover
      +field-control-hover
    &:focus
      +field-control-focus
      margin: -1px -1px 1px -1px
      width: calc(100% + 2px)

.selective__field__text,
.selective__field__textarea
  textarea
    border: 1px solid transparent
    margin: 0 0 2px
    width: 100%
    &:hover
      +field-control-hover
    &:focus
      +field-control-focus
      margin: -1px -1px 1px -1px
      width: calc(100% + 2px)

.selective__image__preview,
.selective__field__image__preview,
.selective__field__google_image__preview
  background: rgba($ge-color-back-light, .5)
  border-radius: $ge-radius-2
  margin-bottom: $ge-pad
  padding: $ge-pad/2

.selective__image__preview__image,
.selective__field__google_image__preview__image
  line-height: 0
  padding: $ge-pad/2
  img
    box-shadow: $ge-shadow-1
    max-height: 125px
    max-width: 100%

.selective__image__preview__meta
  display: flex
  font-size: $ge-font-size-small
  flex-flow: row

  &> div
    padding: $ge-pad/2

.selective__image__preview__meta__label
  font-weight: 700

.selective__image
  &--hover
    .selective__image__preview,
    .selective__field__image_file__input input,
    .selective__field__image__input input,
    .selective__field__image_cloud__input input,
      background-color: $ge-color-primary

    // Prevent from crazy events.
    *
      pointer-events: none

.selective__field__google_image__preview__meta
  margin-top: $ge-pad/2

.selective__list__item
  align-items: center
  background: rgba($ge-color-back-light, .5)
  border-radius: $ge-radius-2
  font-family: $ge-font-family
  font-size: $ge-font-size
  justify-content: space-between
  margin: $ge-pad/2 0
  overflow: hidden
  padding: $ge-pad/2
  position: relative

  &--auto
    .editor--highlight &
      background-color: $ge-color-back-highlight !important

  &:hover
    box-shadow: 0 0 0 1px rgba(0, 0, 0, .3)

  .material-icons
    color: $ge-color-icon-on-back-light

  // Invert the item for every other layer.
  & .selective__list__item,
  & .selective__list__item .selective__list__item .selective__list__item
    background-color: $ge-color-back

    .material-icons
      color: $ge-color-icon-on-back

    .selective__fields &
      input,
      textarea
        background: rgba($ge-color-back-light, .5)

      button
        background: $ge-color-back

  // Invert the item for every other layer.
  & .selective__list__item .selective__list__item,
  & .selective__list__item .selective__list__item .selective__list__item .selective__list__item
    background-color: rgba($ge-color-back-light, .5)

    .material-icons
      color: $ge-color-icon-on-back-light

    .selective__fields &
      input,
      textarea
        background: $ge-color-back

      button
        background: $ge-color-back-light

    // For two levels deep, when expanded, add a light border.
  & .selective__list__item--expanded .selective__list__item--expanded
    box-shadow: $ge-shadow-1

  // Invert the styling for each layer.
  .selective__field__partials &
    input,
    textarea
      background: $ge-color-back

    button
      background: $ge-color-back-light

  &--collapsed
    display: flex
    flex-flow: row

  &--hidden
    display: flex
    flex-flow: row
    background: rgba($ge-color-back-light, .25)

    .selective__list__item__label
      flex-grow: 1
      flex-basis: 100%
      cursor: default

  &--expanded
    padding: $ge-pad/2 $ge-pad $ge-pad

    .selective__list__item__label
      cursor: pointer
      font-weight: 700
      padding: $ge-pad/2 0

  &.sortable--above
    border-top: 3px solid $ge-color-primary

  &.sortable--below
    border-bottom: 3px solid $ge-color-primary

.selective__list__item__drag
  cursor: grab
  display: flex
  flex-shrink: 1

  .material-icons
    margin-right: $ge-pad / 2

.selective__list__item__label
  cursor: pointer
  flex-basis: 25%
  flex-grow: 1
  font-weight: bold
  padding-right: $ge-pad

.selective__list__item__preview
  cursor: pointer
  flex-basis: 75%
  flex-shrink: 1
  flex-grow: 1
  overflow: hidden
  text-overflow: ellipsis

.selective__list__item__delete
  cursor: pointer
  padding-left: $ge-pad/2

  .material-icons
    color: $ge-color-text-light

    &:hover
      color: $ge-color-primary

.selective__list__fields__label
  &--empty
    background: $ge-color-bar
    cursor: pointer
    height: $ge-bar-height
    margin-top: -$ge-pad/2
    margin-left: -$ge-pad
    margin-bottom: $ge-pad
    width: calc(100% + #{$ge-pad*2})

.selective__field__checkbox
  align-items: center
  cursor: pointer
  display: flex
  flex-flow: row-reverse
  justify-content: flex-end
  margin: $ge-pad/2 0

  .material-icons
    margin-right: $ge-pad/2

  .selective__field__localization__input
    display: flex
    flex-flow: row-reverse
    justify-content: flex-end
    margin: $ge-pad/2 0
    cursor: pointer
    align-items: center

.selective__field__select__label
  padding: $ge-pad/2 0

.selective__field__select__options
  display: grid
  grid-template-columns: 1fr 1fr 1fr

  .selective__field__select--list &
    display: block
    max-height: $ge-pad * 10
    overflow-y: auto

.selective__field__select__option
  align-items: center
  border: 1px solid transparent
  border-radius: $ge-radius-2
  cursor: pointer
  display: flex
  flex-flow: row
  padding: $ge-pad/2

  &:hover
    +field-control-hover

  &--checked
    color: $ge-color-primary

    .material-icons
      color: $ge-color-primary !important

  .selective__field__select--list &
    margin: $ge-pad/2 0

  .material-icons
    margin-right: $ge-pad/4

.selective__field__constructor__input,
.selective__field__image_file__input
  align-items: center
  display: flex
  flex-flow: row

  .material-icons
    cursor: pointer
    font-size: $ge-font-size * 1.5
    padding: $ge-pad/2

    .selective__field__constructor__input--expanded &,
    &:hover
      color: $ge-color-primary

.selective__file_list
  border: 1px solid $ge-color-back-light
  border-radius: $ge-radius-4
  margin-bottom: $ge-pad/2

  input
    border-radius: $ge-radius-4 $ge-radius-4 0 0
    margin: 0
    padding: $ge-pad/2 $ge-pad

    &:focus
      border-radius: $ge-radius-4 $ge-radius-4 0 0
      border: 1px solid $ge-color-primary
      margin: 0
      outline: none
      width: 100%

.selective__file_list__list
  height: $ge-pad * 20
  padding: $ge-pad/2 0
  overflow: auto

.selective__file_list__file
  cursor: pointer
  padding: $ge-pad / 2 $ge-pad

  &--empty
    cursor: default
    font-weight: 700

  &:hover:not(.selective__field__constructor__file--empty)
    background: $ge-color-back-light

// Pell Editor
$pell-content-height: 20vh

@import '../../node_modules/pell/src/pell'

.selective__field__html,
.selective__field__markdown
  position: relative

  .pell
    border-color: $ge-color-back-light
    border-radius: $ge-radius-2

  .pell-actionbar
    button
      padding: $ge-pad/2
      border: none

  .pell-content
    height: 30vh
    padding: 0px 16px 8px 16px
    overflow-x: auto
    width: 100%

    iframe
      max-width: 100%

    img
      max-width: 100%

.selective__field__group
  margin: $ge-pad/2 0

  &:last-child
    margin-bottom: 0

.selective__field__group__handle
  align-items: center
  display: flex
  flex-flow: row
  cursor: pointer

.selective__field__group__label
  flex-grow: 1
  font-weight: bold

.selective__group
  margin: $ge-pad 0 $ge-pad $ge-pad

.selective__header,
.selective__footer
  align-items: center
  display: flex
  flex-flow: row
  justify-content: space-between

.selective__header
  margin-top: $ge-pad/2

.selective__field__localization
  display: grid
  grid-row-gap: $ge-pad/4
  grid-template-columns: $ge-pad*3 1fr

.selective__field__localization__locale
  text-align: right
  padding-right: $ge-pad/2
